Repository pooky-labs/smart-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: compile, eslint, prettier, depcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    compile:
      glob: '*.sol'
      run: ./node_modules/.bin/hardhat compile && git add data/
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: ./node_modules/.bin/eslint {staged_files}
    prettier:
      glob: '*.{js,ts,jsx,tsx,sol,json,yml,yaml,md}'
      run: ./node_modules/.bin/prettier -w {staged_files}
    depcheck:
      glob: '*.{js,ts,jsx,tsx}'
      run: ./node_modules/.bin/depcheck

feat(mint): new Genesis mint parameters
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/config/templates.ts
  lib/deployContracts.ts
  lib/genesis/createTemplates.ts
  lib/types/Config.ts
Due: eslint, prettier, depcheck

test(mint): ensure that template id is valid
  test/mint/GenesisMinter.spec.ts
Due: eslint, prettier, depcheck

feat(tokens): drop remaining luxury occurrences
  abi/interfaces/IPookyball.json
  abi/mint/GenesisMinter.json
  abi/tokens/Pookyball.json
  bytecode/game/Level.bin
  bytecode/game/Rewards.bin
  bytecode/mint/GenesisMinter.bin
  bytecode/tokens/Pookyball.bin
  contracts/interfaces/IPookyball.sol
  contracts/mint/GenesisMinter.sol
  contracts/tokens/Pookyball.sol
  contracts/types/PookyballMetadata.sol
  lib/genesis/createTemplates.ts
  lib/types/PookyballLuxury.ts
  test/game/Level.spec.ts
  test/game/Rewards.spec.ts
  test/tokens/Pookyball.spec.ts
Due: compile, eslint, prettier, depcheck

docs(readme): update Pookyball, Level and Rewards contract addresses
  README.md
Due: prettier

docs(changelog): add CHANGELOG.md file
  CHANGELOG.md
Due: prettier

feat(game): reduce level/pressure and Genesis sale price
  CHANGELOG.md
  README.md
  abi/mint/GenesisSale.json
  bytecode/game/Level.bin
  bytecode/game/Pressure.bin
  bytecode/mint/GenesisMinter.bin
  bytecode/mint/GenesisSale.bin
  contracts/game/Level.sol
  contracts/game/Pressure.sol
  contracts/mint/GenesisSale.sol
  lib/config/mainnet.ts
  lib/deployContracts.ts
  lib/genesis/createTemplates.ts
  lib/types/Config.ts
  test/game/Level.spec.ts
  test/game/Pressure.spec.ts
  test/mint/GenesisSale.spec.ts
Due: compile, eslint, prettier, depcheck

feat(mint): update genesis sale parameters
  CHANGELOG.md
  lib/config/mainnet.ts
  lib/genesis/createTemplates.ts
Due: eslint, prettier, depcheck

feat(rewards): rewards can distribute Pookyballs tokens
  abi/game/Rewards.json
  bytecode/game/Rewards.bin
  contracts/game/Rewards.sol
  lib/deployContracts.ts
  lib/testing/signRewards.ts
  test/game/Rewards.spec.ts
Due: compile, eslint, prettier, depcheck

feat(rewards): add HashesRegistry contract
  abi/game/HashesRegistry.json
  abi/game/Rewards.json
  abi/interfaces/IHashesRegistry.json
  bytecode/game/HashesRegistry.bin
  bytecode/game/Rewards.bin
  contracts/game/HashesRegistry.sol
  contracts/game/Rewards.sol
  contracts/interfaces/IHashesRegistry.sol
  lib/deployContracts.ts
  lib/testing/stackFixture.ts
  test/game/HashesRegistry.spec.ts
Due: compile, eslint, prettier, depcheck

feat(rewards): rename HashesRegistry to NonceRegistry
  abi/game/NonceRegistry.json
  abi/game/Rewards.json
  abi/interfaces/INonceRegistry.json
  bytecode/game/HashesRegistry.bin
  bytecode/game/NonceRegistry.bin
  bytecode/game/Rewards.bin
  contracts/game/HashesRegistry.sol
  contracts/game/NonceRegistry.sol
  contracts/game/Rewards.sol
  contracts/interfaces/IHashesRegistry.sol
  contracts/interfaces/INonceRegistry.sol
  lib/deployContracts.ts
  lib/testing/signRewards.ts
  lib/testing/stackFixture.ts
  test/game/NonceRegistry.spec.ts
  test/game/Rewards.spec.ts
Due: compile, eslint, prettier, depcheck

docs(changelog): add 6 March 2023 entry
  CHANGELOG.md
Due: prettier

docs(readme): update `Rewards` and add `NonceRegistry`
  README.md
Due: prettier

feat(pressure): upgrade `Pressure` contract, sunset `Energy` contract
  CHANGELOG.md
  README.md
  abi/game/Energy.json
  abi/game/Pressure.json
  bytecode/game/Energy.bin
  bytecode/game/Pressure.bin
  contracts/game/Energy.sol
  contracts/game/Pressure.sol
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/deployContracts.ts
  lib/testing/stackFixture.ts
  lib/types/Config.ts
  test/game/Energy.spec.ts
  test/game/Pressure.spec.ts
  test/tokens/POK.spec.ts
Due: compile, eslint, prettier, depcheck

feat(level): update `Level.RATIO_PXP`
  CHANGELOG.md
  bytecode/game/Level.bin
  contracts/game/Level.sol
Due: compile, prettier

feat(level): update tests accordingly
  test/game/Level.spec.ts
Due: eslint, prettier, depcheck

feat(sale): deploy `LaunchSale`, update `Level.RATIO_POK`
  CHANGELOG.md
  README.md
  abi/mint/LaunchSale.json
  abi/mint/WaitList.json
  bytecode/game/Level.bin
  bytecode/mint/GenesisSale.bin
  bytecode/mint/LaunchSale.bin
  bytecode/mint/WaitList.bin
  contracts/game/Level.sol
  contracts/mint/LaunchSale.sol
  contracts/mint/WaitList.sol
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/deployContracts.ts
  lib/deployer.ts
  lib/genesis/createTemplates.ts
  lib/testing/stackFixture.ts
  lib/types/Config.ts
  scripts/deploy.ts
  test/game/Level.spec.ts
  test/mint/GenesisSale.spec.ts
  test/mint/LaunchSale.spec.ts
  test/mint/WaitList.spec.ts
Due: compile, eslint, prettier, depcheck

test(mint): do not test epic and legendary rarities due to their low supply
  test/mint/LaunchSale.spec.ts
Due: eslint, prettier, depcheck

feat(config): adjust `LaunchSale` supply
  CHANGELOG.md
  README.md
  lib/config/mainnet.ts
Due: eslint, prettier, depcheck

feat(game): rollback `Pressure` refill with native currency
  CHANGELOG.md
  README.md
  abi/game/Pressure.json
  bytecode/game/Pressure.bin
  contracts/game/Pressure.sol
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/deployContracts.ts
  lib/deployer.ts
  lib/testing/stackFixture.ts
  lib/types/Config.ts
  test/game/Pressure.spec.ts
Due: compile, eslint, prettier, depcheck

feat(mint): open a second LaunchSale contract
  CHANGELOG.md
  abi/mint/LaunchSale.json
  bytecode/mint/LaunchSale.bin
  contracts/mint/LaunchSale.sol
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/deployContracts.ts
  lib/deployer.ts
  lib/types/Config.ts
Due: compile, eslint, prettier, depcheck

feat(game): allow anybody to level up any Pookyball
  CHANGELOG.md
  abi/game/Level.json
  bytecode/game/Level.bin
  contracts/game/Level.sol
  scripts/deploy.ts
  test/game/Level.spec.ts
Due: compile, eslint, prettier, depcheck

docs(readme): update Level contract address
  README.md
Due: prettier

feat(mint): create RefillableSale, update dependencies
  abi/mint/RefillableSale.json
  bytecode/game/Airdrop.bin
  bytecode/game/Level.bin
  bytecode/game/NonceRegistry.bin
  bytecode/game/Pressure.bin
  bytecode/game/Rewards.bin
  bytecode/mint/LaunchSale.bin
  bytecode/mint/RefillableSale.bin
  bytecode/tokens/POK.bin
  bytecode/tokens/Pookyball.bin
  contracts/mint/RefillableSale.sol
  contracts/types/PookyballRarity.sol
  hardhat.config.ts
  package.json
  pnpm-lock.yaml
Due: compile, eslint, prettier, depcheck

feat(mint): finish RefillableSale contract testing
  abi/game/Airdrop.json
  abi/mint/LaunchSale.json
  abi/mint/RefillableSale.json
  bytecode/game/Airdrop.bin
  bytecode/mint/LaunchSale.bin
  bytecode/mint/RefillableSale.bin
  contracts/game/Airdrop.sol
  contracts/mint/LaunchSale.sol
  contracts/mint/RefillableSale.sol
  lib/deployContracts.ts
  lib/deployer.ts
  lib/roles.ts
  lib/testing/getTestAccounts.ts
  lib/testing/stackFixture.ts
  lib/utils/now.ts
  test/game/Airdrop.spec.ts
  test/mint/LaunchSale.spec.ts
  test/mint/RefillableSale.spec.ts
Due: compile, eslint, prettier, depcheck

feat(mint): deploy the contract to mainnet
  CHANGELOG.md
  README.md
  lib/deployContracts.ts
  scripts/deploy.ts
Due: eslint, prettier, depcheck

feat(mint): use the default values for the mint
  test/mint/RefillableSale.spec.ts
Due: eslint, prettier, depcheck

chore: forge init
  foundry.toml
  script/Counter.s.sol
  src/Counter.sol
  test/Counter.t.sol
Due: compile, prettier

feat(foundry): initialize foundry
  .gitmodules
Due: none

forge install: openzeppelin-contracts
  .gitmodules
Due: none

forge install: operator-filter-registry
  .gitmodules
Due: none

forge install: chainlink
  .gitmodules
Due: none

feat(ethers): upgrade to ethrs.js v6
  .depcheckrc.yml
  .prettierrc.js
  .solcover.js
  hardhat.config.ts
  lib/chai/assertions.d.ts
  lib/chai/assertions.ts
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/config/testing.ts
  lib/deployContracts.ts
  lib/roles.ts
  lib/testing/connect.ts
  lib/testing/signRewards.ts
  lib/testing/stackFixture.ts
  lib/types/Config.ts
  lib/utils/createDeployer.ts
  lib/utils/getAddress.ts
  lib/utils/parseEther.ts
  lib/waitTx.ts
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  test/game/Level.spec.ts
  test/game/NonceRegistry.spec.ts
  test/game/Pressure.spec.ts
  test/game/Rewards.spec.ts
  test/mint/RefillableSale.spec.ts
  test/tokens/POK.spec.ts
  test/tokens/Pookyball.spec.ts
Due: eslint, prettier, depcheck

feat(stickers): create Sticker contract using ERC721A ans Solady
  .depcheckrc.yml
  abi/interfaces/IStickers.json
  abi/tokens/Stickers.json
  bytecode/tokens/Stickers.bin
  contracts/interfaces/IStickers.sol
  contracts/tokens/Stickers.sol
  contracts/types/StickerMetadata.sol
  contracts/types/StickerRarity.sol
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/deployContracts.ts
  lib/types/Config.ts
  lib/utils/createDeployer.ts
  package.json
  pnpm-lock.yaml
Due: compile, eslint, prettier, depcheck

feat(stickers): add StickersStorage contract
  abi/game/StickersStorage.json
  abi/interfaces/IStickers.json
  abi/interfaces/IStickersStorage.json
  abi/interfaces/IWaitList.json
  abi/tokens/Stickers.json
  bytecode/game/StickersStorage.bin
  bytecode/tokens/Stickers.bin
  contracts/game/StickersStorage.sol
  contracts/interfaces/IStickers.sol
  contracts/interfaces/IStickersStorage.sol
  contracts/interfaces/IWaitList.sol
  contracts/tokens/Stickers.sol
Due: compile, prettier

forge install: ERC721A
  .gitmodules
Due: none

forge install: solady
  .gitmodules
Due: none

feat(stickers): convert contracts to Foundry
  .vscode/settings.json
  remappings.txt
  src/game/StickersStorage.sol
  src/interfaces/IStickers.sol
  src/tokens/Stickers.sol
  src/types/StickerMetadata.sol
  src/types/StickerRarity.sol
  test/Setup.sol
  test/game/Level.t.sol
  test/game/StickersStorage.t.sol
Due: compile, prettier

fix(game): re-deploy Level to fix max levels
  CHANGELOG.md
  bytecode/game/Level.bin
  contracts/game/Level.sol
Due: compile, prettier
