Repository pooky-labs/smart-contracts: changes, and which lefthook commands are due for each by the changed paths.
All: compile, eslint, prettier, depcheck

compile:
  run: ./node_modules/.bin/hardhat compile && git add data/

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier -w {staged_files}

depcheck:
  run: ./node_modules/.bin/depcheck

ci(foundry): update coverage workflow
  .github/workflows/quality-assessment.yml
  .gitignore
  lcov.info
Due: prettier

test: begin to work on test setups
  .vscode/settings.json
  foundry.toml
  test/Setup.sol
  test/game/Level.t.sol
  test/game/StickersStorage.t.sol
  test/mint/RefillableSale.t.sol
  test/setup/POKSetup.sol
  test/setup/PookyballSetup.sol
  test/setup/VRFCoordinatorV2Setup.sol
Due: compile, prettier

ci(codecov): ignore test files coverage. drop scripts
  codecov.yml
  script/Counter.s.sol
Due: compile, prettier

chore(format): reformat all contracts
  README.md
  foundry.toml
  src/game/Level.sol
  src/game/NonceRegistry.sol
  src/game/Pressure.sol
  src/game/Rewards.sol
  src/game/StickersStorage.sol
  src/interfaces/INonceRegistry.sol
  src/interfaces/IPOK.sol
  src/interfaces/IPookyball.sol
  src/interfaces/IStickers.sol
  src/interfaces/IWaitList.sol
  src/mint/RefillableSale.sol
  src/testing/InvalidReceiver.sol
  src/tokens/POK.sol
  src/tokens/Pookyball.sol
  src/tokens/Stickers.sol
  src/types/PookyballMetadata.sol
  src/types/PookyballRarity.sol
  src/types/StickerMetadata.sol
  src/types/StickerRarity.sol
  test/game/Level.spec.ts
  test/game/Level.t.sol
  test/game/NonceRegistry.spec.ts
  test/game/Pressure.spec.ts
  test/game/Rewards.spec.ts
  test/game/StickersStorage.t.sol
  test/mint/RefillableSale.spec.ts
  test/mint/RefillableSale.t.sol
  test/setup/VRFCoordinatorV2Setup.sol
  test/tokens/POK.spec.ts
  test/tokens/Pookyball.spec.ts
Due: compile, eslint, prettier, depcheck

feat(stickers): rework constructor args
  src/interfaces/IStickers.sol
  src/tokens/Stickers.sol
  src/types/StickerMetadata.sol
  src/types/StickerRarity.sol
  src/types/VRFConfig.sol
  test/setup/PookyballSetup.sol
  test/setup/StickersSetup.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

test(game): update Level Foundry tests
  test/game/Level.t.sol
  test/mint/RefillableSale.t.sol
  test/setup/POKSetup.sol
  test/setup/PookyballSetup.sol
  test/setup/StickersSetup.sol
  test/setup/VRFCoordinatorV2Setup.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

feat(stickers): add StickersManager contract
  lib/chai/assertions.d.ts
  lib/chai/assertions.ts
  src/game/StickersController.sol
  src/game/StickersManager.sol
  src/interfaces/IStickers.sol
  src/interfaces/IStickersController.sol
  src/tokens/Stickers.sol
  test/game/Level.t.sol
  test/game/StickersController.t.sol
  test/game/StickersStorage.t.sol
  test/setup/PookyballSetup.sol
  test/setup/StickersSetup.sol
  test/tokens/Stickers.t.sol
Due: compile, eslint, prettier, depcheck

test(stickers): begin to test StickersManager
  lcov.info
  lib/testing/signRewards.ts
  test/game/StickersController.t.sol
  test/game/StickersManager.t.sol
  test/setup/StickersControllerSetup.t.sol
Due: compile, eslint, prettier, depcheck

chore(foundry): drop legacy Hardhat config
  lib/config/getConfig.ts
  lib/config/mainnet.ts
  lib/config/mumbai.ts
  lib/config/testing.ts
  lib/deployContracts.ts
  lib/logger.ts
  lib/roles.ts
  lib/testing/connect.ts
  lib/testing/getTestAccounts.ts
  lib/testing/roles.ts
  lib/testing/stackFixture.ts
  lib/types/Config.ts
  lib/types/PookyballRarity.ts
  lib/utils/createDeployer.ts
  lib/utils/getAddress.ts
  lib/utils/now.ts
Due: eslint, prettier, depcheck

fix(stickers): unlocked slots computations
  .gitignore
  src/game/StickersManager.sol
  test/game/StickersManager.t.sol
Due: compile, prettier

test(game): begin to test NonceRegistry
  test/game/NonceRegistry.t.sol
Due: compile, prettier

feat(stickers): add stickers replacement
  README.md
  src/game/StickersController.sol
  src/game/StickersManager.sol
  src/interfaces/IStickers.sol
  src/interfaces/IStickersController.sol
  test/game/NonceRegistry.t.sol
  test/game/StickersController.t.sol
  test/setup/StickersControllerSetup.t.sol
Due: compile, prettier

chore: add solhint, re-add hooks
  .solhint.json
  abi/game/StickersStorage.json
  abi/interfaces/IStickers.json
  abi/interfaces/IStickersStorage.json
  abi/tokens/Stickers.json
  bytecode/game/StickersStorage.bin
  bytecode/tokens/Stickers.bin
  lefthook.yml
  package.json
  pnpm-lock.yaml
  test/game/Level.t.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

chore: drop Node files
  package.json
  pnpm-lock.yaml
Due: prettier

test: increase NonceRegistry and Pressure coverage
  test/game/NonceRegistry.t.sol
  test/game/Pressure.t.sol
  test/utils/InvalidReceiver.sol
Due: compile, prettier

test: stabilize Pressure test
  test/game/Pressure.t.sol
Due: compile, prettier

test: start to test Rewards contract
  package.json
  test/game/NonceRegistry.spec.ts
  test/game/Pressure.spec.ts
  test/game/Pressure.t.sol
  test/game/Rewards.t.sol
  test/setup/PookyballSetup.sol
Due: compile, eslint, prettier, depcheck

test: finish Rewards coverage
  test/game/Rewards.spec.ts
  test/game/Rewards.t.sol
Due: compile, eslint, prettier, depcheck

test: fix Rewards.test_claim_revertTransferFailed
  test/game/Rewards.t.sol
Due: compile, prettier

test: increase global coverage
  .gitignore
  .solhint.json
  test/game/Level.t.sol
  test/game/NonceRegistry.t.sol
  test/game/Pressure.t.sol
  test/game/Rewards.t.sol
  test/game/StickersController.t.sol
  test/game/StickersManager.t.sol
  test/mint/RefillableSale.t.sol
  test/setup/POKSetup.sol
  test/setup/PookyballSetup.sol
  test/setup/StickersControllerSetup.t.sol
  test/setup/StickersSetup.sol
  test/setup/VRFCoordinatorV2Setup.sol
  test/tokens/POK.t.sol
  test/tokens/Pookyball.t.sol
  test/tokens/Stickers.t.sol
  test/utils/AccessControlAssertions.sol
Due: compile, prettier

test: finish Pookyball contract testing
  test/tokens/Pookyball.t.sol
Due: compile, prettier

feat: intense fuzzing, reformat, StickersManager tests
  .github/workflows/quality-assessment.yml
  foundry.toml
  src/game/Pressure.sol
  src/game/Rewards.sol
  src/game/StickersController.sol
  src/game/StickersManager.sol
  src/interfaces/IPookyball.sol
  src/mint/RefillableSale.sol
  src/tokens/Pookyball.sol
  src/tokens/Stickers.sol
  src/types/VRFConfig.sol
  test/game/Level.spec.ts
  test/game/Level.t.sol
  test/game/NonceRegistry.t.sol
  test/game/Pressure.t.sol
  test/game/Rewards.t.sol
  test/game/StickersController.t.sol
  test/game/StickersManager.t.sol
  test/mint/RefillableSale.spec.ts
  test/setup/PookyballSetup.sol
  test/setup/StickersSetup.sol
  test/setup/VRFCoordinatorV2Setup.sol
  test/tokens/POK.spec.ts
  test/tokens/POK.t.sol
  test/tokens/Pookyball.spec.ts
  test/tokens/Pookyball.t.sol
Due: compile, eslint, prettier, depcheck

test: finish StickersManager test
  test/game/StickersManager.t.sol
Due: compile, prettier

test: finish Stickers test
  src/tokens/Stickers.sol
  test/game/StickersManager.t.sol
  test/setup/StickersSetup.sol
  test/tokens/Pookyball.t.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

ci: update jobs name
  .github/workflows/quality-assessment.yml
Due: prettier

test: fix Stickers tokenURI tests
  src/tokens/Stickers.sol
  test/mint/RefillableSale.t.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

test: add Sale.test_mint_revertIfClosed
  test/mint/RefillableSale.t.sol
Due: compile, prettier

test: add RefillableSale.test_mint_revertInsufficientSupply
  test/mint/RefillableSale.t.sol
Due: compile, prettier

test: increase RefillableSale coverage
  test/game/Level.t.sol
  test/game/StickersController.t.sol
  test/mint/RefillableSale.t.sol
  test/setup/PookyballSetup.sol
  test/tokens/Pookyball.t.sol
Due: compile, prettier

test: finish StickersController and RefillableSale tests
  test/game/StickersController.t.sol
  test/mint/RefillableSale.spec.ts
  test/mint/RefillableSale.t.sol
Due: compile, eslint, prettier, depcheck

test: reach 100% line coverage
  test/game/Level.t.sol
Due: compile, prettier

chore: remove outdated Level test
  test/game/Level.spec.ts
Due: eslint, prettier, depcheck

docs: remove mentions to Hardhat
  .gitignore
  CONTRIBUTING.md
  README.md
  foundry.toml
Due: prettier

test: use testFuzz prefix on fuzz tests
  test/game/Level.t.sol
  test/game/NonceRegistry.t.sol
  test/game/Pressure.t.sol
  test/game/Rewards.t.sol
  test/game/StickersController.t.sol
  test/game/StickersManager.t.sol
  test/mint/RefillableSale.t.sol
  test/tokens/POK.t.sol
  test/tokens/Pookyball.t.sol
  test/tokens/Stickers.t.sol
Due: compile, prettier

feat: add PookyballLevel contract
  README.md
  foundry.toml
  src/game/Level.sol
  src/game/PookyballLevel.sol
  src/game/Rewards.sol
  src/game/StickersController.sol
  src/game/StickersManager.sol
  src/interfaces/IPookyball.sol
  src/interfaces/IStickers.sol
  src/interfaces/IStickersController.sol
  src/mint/RefillableSale.sol
  src/tokens/Pookyball.sol
  src/tokens/Stickers.sol
  src/types/PookyballMetadata.sol
  src/types/PookyballRarity.sol
  src/types/VRFConfig.sol
  test/BaseTest.sol
  test/datasets/PookyballLevel_pricing.json
  test/datasets/PookyballLevel_slots.json
  test/game/Level.t.sol
  test/game/NonceRegistry.t.sol
  test/game/PookyballLevel.t.sol
  test/game/Pressure.t.sol
  test/game/Rewards.t.sol
  test/game/StickersController.t.sol
  test/game/StickersManager.t.sol
  test/mint/RefillableSale.t.sol
  test/setup/POKSetup.sol
  test/setup/PookyballSetup.sol
  test/setup/StickersControllerSetup.t.sol
  test/setup/StickersSetup.sol
  test/setup/VRFCoordinatorV2Setup.sol
  test/tokens/POK.t.sol
  test/tokens/Pookyball.t.sol
  test/tokens/Stickers.t.sol
  test/utils/AccessControlAssertions.sol
  test/utils/InvalidReceiver.sol
Due: compile, prettier

fix: test_levelUp_revertInsufficientPOK
  test/game/PookyballLevel.t.sol
Due: compile, prettier

docs: update copyright years
  LICENSE
Due: none

chore(config): configure Etherscan and Polygon/Mumbai RPCs
  abi/game/PookyballLevel.json
  abi/testing/InvalidReceiver.json
  abi/types/PookyballMetadata.json
  abi/types/PookyballRarity.json
  bytecode/game/Level.bin
  bytecode/game/NonceRegistry.bin
  bytecode/game/PookyballLevel.bin
  bytecode/game/Pressure.bin
  bytecode/game/Rewards.bin
  bytecode/game/StickersController.bin
  bytecode/game/StickersManager.bin
  bytecode/mint/RefillableSale.bin
  bytecode/testing/InvalidReceiver.bin
  bytecode/tokens/POK.bin
  bytecode/tokens/Pookyball.bin
  bytecode/tokens/Stickers.bin
  bytecode/types/PookyballMetadata.bin
  bytecode/types/PookyballRarity.bin
  foundry.toml
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/artifacts.ts
Due: eslint, prettier, depcheck

fix(game): properly increase level and forward msg.value
  abi/game/PookyballLevel.json
  bytecode/game/PookyballLevel.bin
  src/game/PookyballLevel.sol
  test/game/PookyballLevel.t.sol
Due: compile, prettier

Path conditions:
  compile: any of: *.sol
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,sol,json,yml,yaml,md}
  depcheck: any of: *.{js,ts,jsx,tsx}
